.container {
    width: 100%;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

.title_h1 {
    font-family: Neue Montreal;
    font-size: 80px;
    font-weight: 500;
    line-height: 1;
    /* 100% */
    letter-spacing: -0.02em;
}

.title_h2 {
    font-family: Neue Montreal;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
}

@media screen and (min-width: 375px) {
    .container {
        max-width: 375px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
        padding-left: 100px;
        padding-right: 100px;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}